.container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-lg {
    padding: 15px;
    background-color: #E9ECEF;
    border-radius: 10px;
}

.col-4 {
    text-align: center;
}

.container > h3 {
    text-align: center;
}